# Data simulation

This workbook is used to simulate Personality data from BFI-2 to Mini-marker.

In [1]:
import pandas as pd

In [2]:
# load project/raw_data/Soto_data.xlsx
data = pd.read_excel('/Users/mhhuang/Library/CloudStorage/OneDrive-TheUniversityofChicago/UChi_Course/MPCS 57200/project/raw_data/Soto_data.xlsx', sheet_name='data')

In [3]:
# view the first 5 rows of the data
data.head()

,case_id,age,sex,ethnicity,rel_acquaintance,rel_friend,rel_roommate,rel_boygirlfriend,rel_relative,rel_other,...,tneo_n3_dep,tneo_n4_sel,tneo_n5_imp,tneo_n6_vul,tneo_o1_fan,tneo_o2_aes,tneo_o3_fee,tneo_o4_act,tneo_o5_ide,tneo_o6_val
0,1,27.0,M,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,51.250000,40.181818,64.000000,55.102041,46.639344,46.969697,66.7,57.065217,41.984127,58.039216
1,2,26.0,M,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,69.632353,60.636364,66.272727,65.306122,54.836066,56.439394,51.7,51.630435,51.904762,45.784314
2,3,24.0,F,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,60.441176,74.272727,54.909091,65.306122,75.327869,56.439394,56.7,40.760870,51.904762,58.039216
3,4,33.0,M,3.0,NaN,1.0,NaN,NaN,NaN,NaN,...,67.794118,58.363636,64.000000,52.551020,54.836066,50.757576,36.7,65.217391,63.809524,58.039216
4,5,23.0,F,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,62.279412,67.454545,41.272727,60.204082,50.737705,48.863636,49.2,46.195652,38.015873,38.431373

In [4]:
# Generate column names for tda1 to tda40
tda_columns = [f"tda{i}" for i in range(1, 41)]

# Generate column names for sbfi1 to sbfi60
sbfi_columns = [f"bfi{i}" for i in range(1, 61)]

# Concatenate the two lists of column names
selected_columns = tda_columns + sbfi_columns

In [5]:
# print dimensions of the selected data
print(data.shape)

# remove rows with missing values
data = data.dropna(subset=selected_columns)

# again print dimensions of the selected data
print(data.shape)

(470, 704)
(438, 704)

In [6]:
data

,case_id,age,sex,ethnicity,rel_acquaintance,rel_friend,rel_roommate,rel_boygirlfriend,rel_relative,rel_other,...,tneo_n3_dep,tneo_n4_sel,tneo_n5_imp,tneo_n6_vul,tneo_o1_fan,tneo_o2_aes,tneo_o3_fee,tneo_o4_act,tneo_o5_ide,tneo_o6_val
0,1,27.0,M,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,51.250000,40.181818,64.000000,55.102041,46.639344,46.969697,66.7,57.065217,41.984127,58.039216
1,2,26.0,M,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,69.632353,60.636364,66.272727,65.306122,54.836066,56.439394,51.7,51.630435,51.904762,45.784314
2,3,24.0,F,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,60.441176,74.272727,54.909091,65.306122,75.327869,56.439394,56.7,40.760870,51.904762,58.039216
3,4,33.0,M,3.0,NaN,1.0,NaN,NaN,NaN,NaN,...,67.794118,58.363636,64.000000,52.551020,54.836066,50.757576,36.7,65.217391,63.809524,58.039216
4,5,23.0,F,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,62.279412,67.454545,41.272727,60.204082,50.737705,48.863636,49.2,46.195652,38.015873,38.431373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,466,20.0,F,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,38.382353,40.181818,23.090909,27.040816,56.885246,73.484848,69.2,57.065217,71.746032,67.843137
466,467,27.0,M,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,76.985294,72.000000,68.545455,75.510204,71.229508,75.378788,61.7,67.934783,67.777778,58.039216
467,468,21.0,F,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,54.926471,62.909091,39.000000,62.755102,52.786885,62.121212,69.2,59.782609,47.936508,62.941176
468,469,20.0,F,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,47.573529,37.909091,57.181818,39.795918,63.032787,45.075758,36.7,59.782609,41.984127,55.588235
469,470,21.0,M,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,49.411765,44.727273,50.363636,29.591837,69.180328,67.803030,64.2,76.086957,73.730159,50.686275

Because some items are reversely words, we need to reverse the values of these items before we can map them to the expanded scale.

In [7]:
reverse_coding_map = {'bfi1': 'bfi1',
 'bfi2': 'bfi2',
 'bfi3': 'bfi3R',
 'bfi4': 'bfi4R',
 'bfi5': 'bfi5R',
 'bfi6': 'bfi6',
 'bfi7': 'bfi7',
 'bfi8': 'bfi8R',
 'bfi9': 'bfi9R',
 'bfi10': 'bfi10',
 'bfi11': 'bfi11R',
 'bfi12': 'bfi12R',
 'bfi13': 'bfi13',
 'bfi14': 'bfi14',
 'bfi15': 'bfi15',
 'bfi16': 'bfi16R',
 'bfi17': 'bfi17R',
 'bfi18': 'bfi18',
 'bfi19': 'bfi19',
 'bfi20': 'bfi20',
 'bfi21': 'bfi21',
 'bfi22': 'bfi22R',
 'bfi23': 'bfi23R',
 'bfi24': 'bfi24R',
 'bfi25': 'bfi25R',
 'bfi26': 'bfi26R',
 'bfi27': 'bfi27',
 'bfi28': 'bfi28R',
 'bfi29': 'bfi29R',
 'bfi30': 'bfi30R',
 'bfi31': 'bfi31R',
 'bfi32': 'bfi32',
 'bfi33': 'bfi33',
 'bfi34': 'bfi34',
 'bfi35': 'bfi35',
 'bfi36': 'bfi36R',
 'bfi37': 'bfi37R',
 'bfi38': 'bfi38',
 'bfi39': 'bfi39',
 'bfi40': 'bfi40',
 'bfi41': 'bfi41',
 'bfi42': 'bfi42R',
 'bfi43': 'bfi43',
 'bfi44': 'bfi44R',
 'bfi45': 'bfi45R',
 'bfi46': 'bfi46',
 'bfi47': 'bfi47R',
 'bfi48': 'bfi48R',
 'bfi49': 'bfi49R',
 'bfi50': 'bfi50R',
 'bfi51': 'bfi51R',
 'bfi52': 'bfi52',
 'bfi53': 'bfi53',
 'bfi54': 'bfi54',
 'bfi55': 'bfi55R',
 'bfi56': 'bfi56',
 'bfi57': 'bfi57',
 'bfi58': 'bfi58R',
 'bfi59': 'bfi59',
 'bfi60': 'bfi60'}

# Perform reverse coding
for key, value in reverse_coding_map.items():
    if value.endswith('R'):  # Reverse coded
        data[key] = 6 - data[key]
    else:  # Not reverse coded
        data[key] = data[key]
        
data

,case_id,age,sex,ethnicity,rel_acquaintance,rel_friend,rel_roommate,rel_boygirlfriend,rel_relative,rel_other,...,tneo_n3_dep,tneo_n4_sel,tneo_n5_imp,tneo_n6_vul,tneo_o1_fan,tneo_o2_aes,tneo_o3_fee,tneo_o4_act,tneo_o5_ide,tneo_o6_val
0,1,27.0,M,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,51.250000,40.181818,64.000000,55.102041,46.639344,46.969697,66.7,57.065217,41.984127,58.039216
1,2,26.0,M,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,69.632353,60.636364,66.272727,65.306122,54.836066,56.439394,51.7,51.630435,51.904762,45.784314
2,3,24.0,F,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,60.441176,74.272727,54.909091,65.306122,75.327869,56.439394,56.7,40.760870,51.904762,58.039216
3,4,33.0,M,3.0,NaN,1.0,NaN,NaN,NaN,NaN,...,67.794118,58.363636,64.000000,52.551020,54.836066,50.757576,36.7,65.217391,63.809524,58.039216
4,5,23.0,F,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,62.279412,67.454545,41.272727,60.204082,50.737705,48.863636,49.2,46.195652,38.015873,38.431373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,466,20.0,F,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,38.382353,40.181818,23.090909,27.040816,56.885246,73.484848,69.2,57.065217,71.746032,67.843137
466,467,27.0,M,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,76.985294,72.000000,68.545455,75.510204,71.229508,75.378788,61.7,67.934783,67.777778,58.039216
467,468,21.0,F,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,54.926471,62.909091,39.000000,62.755102,52.786885,62.121212,69.2,59.782609,47.936508,62.941176
468,469,20.0,F,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,47.573529,37.909091,57.181818,39.795918,63.032787,45.075758,36.7,59.782609,41.984127,55.588235
469,470,21.0,M,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,49.411765,44.727273,50.363636,29.591837,69.180328,67.803030,64.2,76.086957,73.730159,50.686275

In [8]:
from schema_bfi2 import expanded_scale

# Function to map the numeric values to strings
def map_values(row):
    for key in expanded_scale:
        if pd.notna(row[key]):  # Check if the value is not NaN
            index = int(row[key]) - 1  # Convert to 0-index
            row[key] = expanded_scale[key][index]  # Replace the value with the corresponding string
    return row

In [9]:
# Apply the mapping function to each row of the dataset
mapped_data = data[sbfi_columns].apply(map_values, axis=1)

mapped_data['combined_bfi2'] = mapped_data[['bfi' + str(i) for i in range(1, 61)]].apply(lambda row: ' '.join(row), axis=1)

data['combined_bfi2'] = mapped_data['combined_bfi2']

data.head()

/var/folders/zh/79y5ykz51rxcnjchzb73nfxw0000gn/T/ipykernel_31618/1418642924.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'I am fairly organized.' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  row[key] = expanded_scale[key][index]  # Replace the value with the corresponding string
/var/folders/zh/79y5ykz51rxcnjchzb73nfxw0000gn/T/ipykernel_31618/1418642924.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'I am fairly disorganized.' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  row[key] = expanded_scale[key][index]  # Replace the value with the corresponding string
/var/folders/zh/79y5ykz51rxcnjchzb73nfxw0000gn/T/ipykernel_31618/1418642924.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'I am very organized.' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  row[key] = expanded_scale[key][index]  # Replace the value with the corresponding string
/var/folders/zh/79y5ykz51rxcnjchzb73nfxw0000gn/T/ipykernel_31618/1418642924.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'I am neither particularly organized nor disorganized.' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  row[key] = expanded_scale[key][index]  # Replace the value with the corresponding string
/var/folders/zh/79y5ykz51rxcnjchzb73nfxw0000gn/T/ipykernel_31618/1418642924.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'I am very disorganized.' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  row[key] = expanded_scale[key][index]  # Replace the value with the corresponding string

,case_id,age,sex,ethnicity,rel_acquaintance,rel_friend,rel_roommate,rel_boygirlfriend,rel_relative,rel_other,...,tneo_n4_sel,tneo_n5_imp,tneo_n6_vul,tneo_o1_fan,tneo_o2_aes,tneo_o3_fee,tneo_o4_act,tneo_o5_ide,tneo_o6_val,combined_bfi2
0,1,27.0,M,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,40.181818,64.000000,55.102041,46.639344,46.969697,66.7,57.065217,41.984127,58.039216,"I am very outgoing, sociable. I am very compas..."
1,2,26.0,M,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,60.636364,66.272727,65.306122,54.836066,56.439394,51.7,51.630435,51.904762,45.784314,"I am quite outgoing, sociable. I am fairly com..."
2,3,24.0,F,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,74.272727,54.909091,65.306122,75.327869,56.439394,56.7,40.760870,51.904762,58.039216,"I am very reserved, unsociable. I am very comp..."
3,4,33.0,M,3.0,NaN,1.0,NaN,NaN,NaN,NaN,...,58.363636,64.000000,52.551020,54.836066,50.757576,36.7,65.217391,63.809524,58.039216,"I am quite outgoing, sociable. I am fairly com..."
4,5,23.0,F,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,67.454545,41.272727,60.204082,50.737705,48.863636,49.2,46.195652,38.015873,38.431373,"I am somewhat outgoing, sociable. I am fairly ..."

In [10]:
# save data
data.to_csv('study1_data_no_simulation.csv', index=False)

## Generate prompts

In [11]:
import os
from mini_marker_prompt import get_prompt

api_key = os.getenv('OPENAI_API_KEY')

## Test with a single participant
Let us first test the framework with a single participant.

In [12]:
person1 = data.iloc[0]

prompt = get_prompt(person1['combined_bfi2'])

print(prompt)

### Your Personality ###
I am very outgoing, sociable. I am very compassionate almost always soft-hearted. I am fairly organized. I am somewhat relaxed handle stress somewhat well. I have some artistic interests. I am quite assertive. I am very respectful almost always treat others with respect. I am often lazy. I stay very optimistic after experiencing a setback. I am curious about few things. I often feel excited or eager. I rarely find fault with others. I am very dependable steady. I am fairly moody often have up and down mood swings. I am fairly inventive often find clever ways to do things. I am rarely quiet. I feel a great deal of sympathy for others. I am not particularly systematic rarely keep things in order. I am sometimes tense. I am very much fascinated by art music or literature. I am fairly submissive often act as a follower. I rarely start arguments with others. I have a fair amount of difficulty getting started on tasks. I feel very secure comfortable with self. I typically seek out intellectual, philosophical discussions. I am somewhat more active than other people. I have a very forgiving nature. I am often careless. I am fairly emotionally stable quite hard to upset. I have little creativity. I am often shy introverted. I am very helpful and unselfish with others. I sometimes keep things neat and tidy. I worry quite a lot. I value art and beauty quite a bit. I find it fairly easy to influence people. I am sometimes rude to others. I am fairly efficient get things done fairly quickly. I almost never feel sad. I am not particularly complex rarely a deep thinker. I am almost always full of energy. I am quite trusting of others’ intentions. I am fairly reliable can usually be counted on. I usually keep my emotions under control. I have a bit of difficulty imagining things. I am very talkative. I am very warm and caring. I rarely leave a mess usually clean up. I often feel anxious or afraid. I think poetry and plays are fairly interesting. I strongly prefer to take charge. I am very polite courteous to others. I am fairly persistent usually work until the task is finished. I sometimes feel depressed blue. I have little interest in abstract ideas. I show a lot of enthusiasm. I almost always assume the best about people. I often behave irresponsibly. I am not at all temperamental almost never get emotional. I am not at all original almost never come up with new ideas.

### Background ###
You are participating in a study to help us understand huamn personality.

### Response Format ###
ONLY return your response as a JSON file where the keys are the traits and the number that best describes you. Do not say anything else.

### Questionnaire Instruction ###
Please use this list of common traits to describe yourself as accurately as possible. Describe yourself as you see yourself at the present time, not as you wish to be in the future. Describe yourself as you are generally or typically, as compared with your peers. For each trait, please write a number indicating how accurately that trait describes you, using the following rating scale:
1 - Extremely Inaccurate
2 - Very Inaccurate
3 - Moderately Inaccurate
4 - Slightly Inaccurate
5 - Neutral / Not Applicable
6 - Slightly Accurate
7 - Moderately Accurate
8 - Very Accurate
9 - Extremely Accurate

### Questionnaire Item ###
1. Bashful _
2. Bold _
3. Careless _
4. Cold _
5. Complex _
6. Cooperative _
7. Creative _
8. Deep _
9. Disorganized _
10. Efficient _
11. Energetic _
12. Envious _
13. Extraverted _
14. Fretful _
15. Harsh _
16. Imaginative _
17. Inefficient _
18. Intellectual _
19. Jealous _
20. Kind _
21. Moody _
22. Organized _
23. Philosophical _
24. Practical _
25. Quiet _
26. Relaxed _
27. Rude _
28. Shy _
29. Sloppy _
30. Sympathetic _
31. Systematic _
32. Talkative _
33. Temperamental _
34. Touchy _
35. Uncreative _
36. Unenvious _
37. Unintellectual _
38. Unsympathetic _
39. Warm _
40. Withdrawn _

The prompt is looking good. Let us now create a ChatOpenAI object and test it with the prompt.

In [13]:
from openai import OpenAI

client = OpenAI()
completion = client.chat.completions.create(
  temperature=0,
  model="gpt-3.5-turbo",
  messages=[
    {"role": "system", "content": "You are a person with the given personality traits"},
    {"role": "user", "content": prompt}
  ]
)

In [14]:
completion

ChatCompletion(id='chatcmpl-9FBV8aYeJJP5Ewtyf8gPZ4goou59G', choices=[Choice(finish_reason='stop', index=0, logprobs=None, message=ChatCompletionMessage(content='{\n  "Bashful": 2,\n  "Bold": 7,\n  "Careless": 4,\n  "Cold": 2,\n  "Complex": 2,\n  "Cooperative": 8,\n  "Creative": 6,\n  "Deep": 3,\n  "Disorganized": 4,\n  "Efficient": 6,\n  "Energetic": 8,\n  "Envious": 2,\n  "Extraverted": 9,\n  "Fretful": 5,\n  "Harsh": 3,\n  "Imaginative": 6,\n  "Inefficient": 4,\n  "Intellectual": 7,\n  "Jealous": 2,\n  "Kind": 8,\n  "Moody": 6,\n  "Organized": 6,\n  "Philosophical": 7,\n  "Practical": 6,\n  "Quiet": 3,\n  "Relaxed": 6,\n  "Rude": 2,\n  "Shy": 3,\n  "Sloppy": 4,\n  "Sympathetic": 9,\n  "Systematic": 6,\n  "Talkative": 8,\n  "Temperamental": 5,\n  "Touchy": 4,\n  "Uncreative": 3,\n  "Unenvious": 8,\n  "Unintellectual": 3,\n  "Unsympathetic": 2,\n  "Warm": 9,\n  "Withdrawn": 3\n}', role='assistant', function_call=None, tool_calls=None))], created=1713406158, model='gpt-3.5-turbo-0125', object='chat.completion', system_fingerprint='fp_c2295e73ad', usage=CompletionUsage(completion_tokens=332, prompt_tokens=921, total_tokens=1253))

# Generate completions for the entire dataset
Now that we have tested the framework, and it works very well. Let us generate completions for the entire dataset.

In [15]:
# define a function to get the completion of an individual
def get_completion(person):
    prompt = get_prompt(person['combined_bfi2'])
    completion = client.chat.completions.create(
        temperature=0, 
        model="gpt-3.5-turbo",
        messages=[
            {"role": "system", "content": "You are a person with the given personality traits"},
            {"role": "user", "content": prompt}
        ]
    )
    return completion

In [16]:
# get completions for the entire dataset
completions = data.apply(get_completion, axis=1)

In [17]:
# print the shape of df 
print(data.shape)

# print the shape of completions
print(completions.shape)

(438, 705)
(438,)

In [18]:
import json

# Define a custom serializer for Choice objects
def serialize_choice(choice):
    return {
        "finish_reason": choice.finish_reason,
        "index": choice.index,
        "logprobs": choice.logprobs,
        "message": {
            "content": choice.message.content,
            "role": choice.message.role,
            "function_call": choice.message.function_call,
            "tool_calls": choice.message.tool_calls
        }
    }

# Define a custom serializer for ChatCompletion objects
def serialize_chat_completion(completion):
    return {
        "id": completion.id,
        "choices": [serialize_choice(choice) for choice in completion.choices],
        "created": completion.created,
        "model": completion.model,
        "object": completion.object,
        "usage": {
            "completion_tokens": completion.usage.completion_tokens,
            "prompt_tokens": completion.usage.prompt_tokens,
            "total_tokens": completion.usage.total_tokens
        }
    }

# Serialize the list of ChatCompletion objects to a JSON file
with open('bfi_to_mini_temp0.json', 'w') as json_file:
    json.dump([serialize_chat_completion(completion) for completion in completions], json_file, indent=4)